<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FnaS</title>
</head>
<body>

    <form action="" method="post">
        <p>Username</p>
        <input type = "text" class = "admin_name" name = "admin_name" placeholder="Скажи свою имя странник" />
        <p>Password</p>
        <input type = "password" class = "admin_password" name = "admin_password" placeholder="Поведай страшную тайну что в твоей голове"/>
        <p>
        <input type = "submit" href = "/page.html" value="Отправится в чистилище"/>
        </p>
    </form>
</body>
</html>
<style>

</style>