<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FnaS</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login_admin">
      <form action="" method="post">
        <h1 class="warning_admin">Ахтугн! Это вход в админ панель</h1>
        <input
          type="text"
          class="admin_name"
          name="admin_name"
          placeholder="Скажи свою имя странник"
        /><br />
        <input
          type="password"
          class="admin_password"
          name="admin_password"
          placeholder="Поведай страшную тайну что в твоей голове"
        />
        <p>
          <input
            type="submit"
            href="/page.html"
            value="Отправится в чистилище"
            class="button_admin"
          />
        </p>
      </form>
    </div>
  </body>
</html>
<style></style>
