{% extends 'base.html' %}
{% block title %}<title>FnaS</title>{% endblock %}


{% block body %}
  <header class="header">
    <div class="container">
      <div class="nav">
        <a href="/"
          ><img src="../static/img/logo.png" alt="logo" class="logo"
        /></a>
        <ul class="menu">
          <li><a href="/">Главная</a></li>
          <li><a href="#">Курсы</a></li>
          <li><a href="#">Библиотека</a></li>
          <li><a href="#">О нас</a></li>
        </ul>
        <button class="login">
          <img src="../static/img/Log in icon.png" alt="" />
          Вход
        </button>
      </div>
      <div class="offer">
        <div class="texts">
          <h1>Изучать физику легко, нужно просто начать!</h1>
          <h2>
            Интерактивыне курсы по физике и не только, для любознательных и
            интересующихся темой науки
          </h2>
          <button class="lets_go">Вперед к знаниям</button>
        </div>
        <img src="../static/img/эйн1 1.png" alt="" class="albert" />
      </div>
    </div>
  </header>
{% endblock %}
